<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>555timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{340,404}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,55},{340,404}}</string>
                <key>sourceSize</key>
                <string>{448,512}</string>
            </dict>
            <key>7400.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1047},{276,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,28},{276,456}}</string>
                <key>sourceSize</key>
                <string>{384,512}</string>
            </dict>
            <key>74157.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,521}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,27},{276,521}}</string>
                <key>sourceSize</key>
                <string>{384,575}</string>
            </dict>
            <key>74166.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{276,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,28},{276,520}}</string>
                <key>sourceSize</key>
                <string>{384,576}</string>
            </dict>
            <key>AC_source.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{76,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,54},{76,148}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>ADC.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1132},{212,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,28},{212,264}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>AND_Gate.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1313},{212,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,28},{212,200}}</string>
                <key>sourceSize</key>
                <string>{320,256}</string>
            </dict>
            <key>Analog_Switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1799},{110,148}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,54},{110,148}}</string>
                <key>sourceSize</key>
                <string>{192,256}</string>
            </dict>
            <key>Buzzer.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,834},{80,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,54},{80,148}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>Capacitor.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1084},{56,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,54},{56,148}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>Count.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1771},{212,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,28},{212,264}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>DAC.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,866},{212,264}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,28},{212,264}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>DC_source.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1725},{72,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,54},{72,148}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>D_Flip_Flop.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1398},{212,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,28},{212,200}}</string>
                <key>sourceSize</key>
                <string>{320,256}</string>
            </dict>
            <key>Diode.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1384},{60,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,54},{60,148}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>Inductor.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1516},{34,148}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,54},{34,148}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>Inverter.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,298},{212,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,12},{212,106}}</string>
                <key>sourceSize</key>
                <string>{320,128}</string>
            </dict>
            <key>JK_Flip_Flop.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,620},{212,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,28},{212,200}}</string>
                <key>sourceSize</key>
                <string>{320,256}</string>
            </dict>
            <key>LED.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1234},{68,148}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,54},{68,148}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,605},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>NAND_Gate.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,406},{212,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,28},{212,200}}</string>
                <key>sourceSize</key>
                <string>{320,256}</string>
            </dict>
            <key>NOR_Gate.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1600},{210,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,28},{210,200}}</string>
                <key>sourceSize</key>
                <string>{320,256}</string>
            </dict>
            <key>NPN_BJT.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1702},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,54},{148,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>N_JFET.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1552},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,54},{148,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>N_MOSFET.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1852},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,54},{148,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>OR_Gate.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1099},{212,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,28},{212,200}}</string>
                <key>sourceSize</key>
                <string>{320,256}</string>
            </dict>
            <key>PNP_BJT.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1702},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,54},{148,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>P_JFET.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1552},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,54},{148,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>P_MOSFET.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1366},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,54},{148,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Potentiometer.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,406},{94,148}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,54},{94,148}}</string>
                <key>sourceSize</key>
                <string>{192,256}</string>
            </dict>
            <key>Resistor.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1852},{38,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,54},{38,148}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>SCR.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,300},{104,148}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,54},{104,148}}</string>
                <key>sourceSize</key>
                <string>{192,256}</string>
            </dict>
            <key>SPST_Switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1216},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,54},{148,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Solar_Cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,934},{114,148}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,54},{114,148}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>Speaker.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1234},{54,148}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,54},{54,148}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>V_node_source.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1852},{56,134}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,4},{56,134}}</string>
                <key>sourceSize</key>
                <string>{128,192}</string>
            </dict>
            <key>XOR_Gate.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,885},{212,200}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,28},{212,200}}</string>
                <key>sourceSize</key>
                <string>{320,256}</string>
            </dict>
            <key>Zener_Diode.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1084},{78,148}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,54},{78,148}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>analog_spst_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1802},{174,148}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,54},{174,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>anglog0.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1234},{20,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,54}}</string>
                <key>sourceSize</key>
                <string>{20,54}</string>
            </dict>
            <key>anglog1.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,770},{28,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,62}}</string>
                <key>sourceSize</key>
                <string>{28,62}</string>
            </dict>
            <key>bcd_to_7segment.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,408},{212,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,28},{212,456}}</string>
                <key>sourceSize</key>
                <string>{320,512}</string>
            </dict>
            <key>bgline.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1799},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>btnbg0.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,605},{81,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,71}}</string>
                <key>sourceSize</key>
                <string>{81,71}</string>
            </dict>
            <key>btnbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,688},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>circuit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,688},{52,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,22}}</string>
                <key>sourceSize</key>
                <string>{52,22}</string>
            </dict>
            <key>circuit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,934},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>control_C_source.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1978},{68,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,54},{68,148}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>controrl_v_source.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,834},{98,146}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,55},{98,146}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>digital0.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1988},{35,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{35,41}</string>
            </dict>
            <key>digital1.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,1949},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>lableframe0.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,770},{62,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,39}</string>
            </dict>
            <key>lableframe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,556},{64,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,47}}</string>
                <key>sourceSize</key>
                <string>{64,47}</string>
            </dict>
            <key>microphone.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1852},{52,146}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,55},{52,146}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>nodePoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,300},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>one_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1527},{196,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{196,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>outpin.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2002},{136,44}}</string>
                <key>offset</key>
                <string>{27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,43},{136,44}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>push_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1384},{52,148}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,54},{52,148}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>ringflog.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{292,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,294}}</string>
                <key>sourceSize</key>
                <string>{292,294}</string>
            </dict>
            <key>ringfloor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1505},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>ringlable.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2002},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>ringpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,670},{201,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,213}}</string>
                <key>sourceSize</key>
                <string>{201,213}</string>
            </dict>
            <key>run0.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1771},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,556},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>set0.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2000},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>set1.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2002},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>si0.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,996},{30,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,52}}</string>
                <key>sourceSize</key>
                <string>{30,52}</string>
            </dict>
            <key>si1.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2002},{38,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,60}}</string>
                <key>sourceSize</key>
                <string>{38,60}</string>
            </dict>
            <key>small0.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,585},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>small1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1534},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>source0.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,2002},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>source1.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1949},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,742},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2000},{46,148}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,54},{46,148}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>tablebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2000},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>tablecellbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1725},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>tableimagebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1290},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>tablelayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1384},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>tableline.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1527},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>tapped_transformet.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1066},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,54},{148,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>three_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,408},{260,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,30},{260,196}}</string>
                <key>sourceSize</key>
                <string>{320,256}</string>
            </dict>
            <key>titleline.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1505},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,10}}</string>
                <key>sourceSize</key>
                <string>{12,10}</string>
            </dict>
            <key>toppoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,1988},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>transformet.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,916},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,54},{148,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>two_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1802},{196,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{196,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>v_source.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,152},{76,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,55},{76,146}}</string>
                <key>sourceSize</key>
                <string>{128,256}</string>
            </dict>
            <key>wavebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1771},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>zhongduanbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2029},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>zhongduanline.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,620},{9,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,3}}</string>
                <key>sourceSize</key>
                <string>{9,3}</string>
            </dict>
            <key>zhongduantopbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1050},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>img.png</string>
            <key>size</key>
            <string>{995,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80cdbd5b9bf54e6e1b55ba64d267647e:29a46a17aaa750027125bb291a234a20:998d06a3a8cfdeb787bb414d46e791c2$</string>
            <key>textureFileName</key>
            <string>img.png</string>
        </dict>
    </dict>
</plist>
